
.content{
    display: flex;
    justify-content: center;
}

.content-amorim{
    max-width: 950px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
}

@media(max-width:540px){
    .content-amorim{
        max-width: 500px;
        width: 100%;
    }
    .content-amorim img{
        max-width: 400px;
        width: 100%;
    }
}

@media(max-width:430px){
    .content-amorim{
        max-width: 400px;
        width: 100%;
    }
    .content-amorim img{
        max-width: 300px;
        width: 100%;
    }
}

.content-amorim img{
    width: 900px;
    border-radius: 10px;
}

.text-card{
    color: white;
    padding: 30px;
}

.content-amorim a{
    text-align: center;
    letter-spacing: 2px;
    color: black;
    border-radius: 10px;
    font-weight: 600;
    width: 100%;
    background-color: #F2CB05;
    margin: 20px 0;
    padding: 5px;
}

.content-amorim a:hover{
    box-shadow: 0 0 10px #F2CB05,
                0 0 20px #F2CB05;
}

.card-title{
    color: white;
    margin: 10px;
}

.text-site{
    text-align: left;
    max-width: 700px;
}

.img-card{
    margin: 20px 0;
}
